@charset "UTF-8";

.header
{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.header-index
{
	background-image: url(../img/main_header.jpg);
	background-position: left bottom;
}

.header-work
{
	background-image: url(../img/main_header.jpg);
	background-position: left bottom;
}

.header-own
{
	background-image: url(../img/main_header.jpg);
	background-position: left bottom;
}

.header-tuborg
{
	background-image: url(../img/project_hero_2017_tuborg.jpg);
}

.header-tuborg-equity
{
	background-image: url(../img/project_hero_2018_tuborg_equity.jpg);
}

.header-tuborg-open
{
	background-image: url(../img/project_hero_2018_tuborg_open.jpg);
}

.header-bruno-2016
{
	background-image: url(../img/project_hero_2016_brunobanani.jpg);
}

.header-bruno-2017
{
	background-image: url(../img/project_hero_2017_brunobanani.jpg);
}

.header-mands-christmas2017
{
	background-image: url(../img/project_hero_2017_mschristmas.jpg);
}

.header-mands-christmasFood2017
{
	background-image: url(../img/project_hero_2017_msfoodChristmas.jpg);
}

.header-mands-summerFood2017
{
	background-image: url(../img/project_hero_2017_msfood.jpg);
}

.header-gillette-2016
{
	background-image: url(../img/project_hero_2016_gillette.jpg);
}

.header-ms-spenditwell-2017
{
	background-image: url(../img/project_hero_2017_msspenditwell.jpg);
}

.header-ms-bts-2017
{
	background-image: url(../img/project_hero_2017_msbts.jpg);
}

.header-which-worldcup-2018
{
	background-image: url(../img/project_hero_2018_which_worldcup.png);
}

.header-which-2018
{
	background-image: url(../img/project_hero_2018_which_banners.png);
}

.header-canon-2016
{
	background-image: url(../img/project_hero_canon.jpg);
}

.header-pt-2016
{
	background-image: url(../img/project_hero_princes_trust.jpg);
}



