@charset "UTF-8";

.header-safe
{
	width: 100%;
	height: 100%;

	position: absolute;

	left: 0; right: 0; top: 0; bottom: 0;

	background: #000;

	opacity: 0.2;
}

.project-view .project
{
	margin-bottom: 0;
	margin-bottom: 3em;
}

.project-view .project .project-content
{
	padding: 0;
}

.project-video
{
	width: 100%;
	max-width: 40%;

	position: relative;

	padding: 1em;
	margin: 0 auto;

	font-size: 0;
}

.project-video:first-of-type
{
	padding: 0 0 1em 0;
}

.project-video:last-of-type
{
	padding: 1em 0 0 0;
}

.project-video:only-of-type
{
	padding: 0;
}

.project-video video
{
	width: 100%;
}



/* !!! RESPONSIVE !!! */

/* MOBILE */
@media only screen and (min-width: 300px)
{

}

/* PHABLET */
@media only screen and (min-width: 600px)
{
	
}

/* TABLET */
@media only screen and (min-width: 900px)
{

}

/* DESKTOP */
@media only screen and (min-width: 1200px)
{

}