@charset "UTF-8";

.project-view .header-full
{
	background-position: center center;
}

.header-safe
{
	width: 100%;
	height: 100%;

	position: absolute;

	left: 0; right: 0; top: 0; bottom: 0;

	background: #000;

	opacity: 0.1;
}

.project-view .project
{
	margin-bottom: 0;
	margin-bottom: 3em;
}

.project-view .project .project-content
{
	padding: 0;
}

.project-video
{
	width: 100%;

	position: relative;

	padding-bottom: 1em;

	margin: 0 auto;
}

.project-video-1x1
{
	max-width: 40%;
}

.project-video-16x9
{
	max-width: 80%;
}

.project-video:last-of-type
{
	padding-bottom: 0;
	font-size: 0;
}

.project-video:only-of-type
{
	padding-bottom: 0;
	font-size: 0;
}

.project-video-no-btm-space
{
	padding-bottom: 0;
	font-size: 0;	
}

.project-video video
{
	width: 100%;
}

.project-banner
{
	position: relative;
	
	margin: 0 auto 1em auto;

	overflow: hidden;
}

.project-banner iframe
{
	width: inherit;
	height: inherit;
	position: inherit;
	overflow: hidden;
}

.project-970x250
{
	width: 970px;
	height: 250px;
}

.project-300x250
{
	width: 300px;
	height: 250px;
}

.project-160x600
{
	width: 160px;
	height: 600px;
}

.project-728x90
{
	width: 728px;
	height: 90px;
}

.project-banner-set-mpu
{
	width: 100%;

	max-width: 1000px;

	position: relative;

	margin: 0 auto;

	display: grid;

	grid-template-columns: 1fr 1fr;

	grid-gap: 40px;
}

.project-banner-set-mpu div
{
	margin: 0 auto;
}

.project-img
{
	text-align: center;
	overflow: hidden;

	width: 90%;

	margin: 0 auto;
}

.project-img img
{
	width: 100%;
	max-width: 860px;
	margin-bottom: 1em;
}

.project-img-custom-600 img
{
	max-width: 600px;
}

.project-img-custom-1000 img
{
	max-width: 1000px;
}

.project-img-custom-1380 img
{
	max-width: 1380px;
}

.weblink-exit
{
	width: 100%;
	height: 120px;
	position: absolute;

	left: 0; right: 0; bottom: 0;

	font-size: 0;

	background: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
}

/*.weblink-exit .weblink-exit-inner
{
	position: relative;
}

.weblink-exit p
{
	font-size: 28px;

	text-align: center;
	text-transform: uppercase;

	display: inline-block;

	margin: 0 auto;
}

.weblink-exit a
{
	color: var(--color-nav);
	text-decoration: none;
}

.weblink-exit a:hover
{
	color: var(--color-white);
}*/




/* !!! RESPONSIVE !!! */

/* MOBILE */
@media only screen and (min-width: 300px)
{
	.project-video-1x1
	{
		max-width: 90%;
	}

	.project-video-16x9
	{
		max-width: 100%;
	}

	.project-banner-set-mpu
	{
		max-width: 300px;

		grid-template-columns: 1fr;
	}

	.weblink-exit p
	{
		font-size: 24px;
	}
}

/* PHABLET */
@media only screen and (min-width: 600px)
{
	.project-video-1x1
	{
		max-width: 70%;
	}

	.project-video-16x9
	{
		max-width: 90%;
	}

	.project-banner-set-mpu
	{
		max-width: 300px;

		grid-template-columns: 1fr;
	}

	.weblink-exit p
	{
		font-size: 28px;
	}
}

/* TABLET */
@media only screen and (min-width: 900px)
{
	.project-video-1x1
	{
		max-width: 40%;
	}

	.project-video-16x9
	{
		max-width: 80%;
	}

	.project-banner-set-mpu
	{
		max-width: 640px;

		grid-template-columns: 1fr 1fr;
	}

	.weblink-exit p
	{
		font-size: 28px;
	}
}

/* DESKTOP */
@media only screen and (min-width: 1200px)
{
	.project-video-1x1
	{
		max-width: 40%;
	}

	.project-video-16x9
	{
		max-width: 80%;
	}

	.project-banner-set-mpu
	{
		max-width: 1000px;

		grid-template-columns: 1fr 1fr 1fr;
	}

	.weblink-exit p
	{
		font-size: 28px;
	}
}