@charset "UTF-8";

.project-view .header-full
{
	background-position: center center;
}

.header-safe
{
	width: 100%;
	height: 100%;

	position: absolute;

	left: 0; right: 0; top: 0; bottom: 0;

	background: #000;

	opacity: 0.15;
}

.project-view .project
{
	margin-bottom: 0;
	margin-bottom: 3em;
}

.project-view .project .project-content
{
	padding: 0;
}

.project-video
{
	width: 100%;

	position: relative;

	padding-bottom: 1em;

	margin: 0 auto;
}

.project-video-1x1
{
	max-width: 40%;
}

.project-video-16x9
{
	max-width: 80%;
}

.project-video:last-of-type
{
	padding-bottom: 0;
	font-size: 0;
}

.project-video:only-of-type
{
	padding-bottom: 0;
	font-size: 0;
}

.project-video-no-btm-space
{
	padding-bottom: 0;
	font-size: 0;	
}

.project-video video
{
	width: 100%;
}



/* !!! RESPONSIVE !!! */

/* MOBILE */
@media only screen and (min-width: 300px)
{
	.project-video-1x1
	{
		max-width: 90%;
	}

	.project-video-16x9
	{
		max-width: 100%;
	}
}

/* PHABLET */
@media only screen and (min-width: 600px)
{
	.project-video-1x1
	{
		max-width: 70%;
	}

	.project-video-16x9
	{
		max-width: 90%;
	}
}

/* TABLET */
@media only screen and (min-width: 900px)
{
	.project-video-1x1
	{
		max-width: 40%;
	}

	.project-video-16x9
	{
		max-width: 80%;
	}
}

/* DESKTOP */
@media only screen and (min-width: 1200px)
{
	.project-video-1x1
	{
		max-width: 40%;
	}

	.project-video-16x9
	{
		max-width: 80%;
	}
}